@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  font-family: "Montserrat", "Roboto", Arial, sans-serif;
  color: white;
  background-color: var(--escuro);
}

:root {
  --cor-primaria: #4f46e5;
  --cor-secundaria: #7c3aed;
  --escuro: #0f172a;
  --maisEscuro: #0a0f1c;
  --vidro: rgba(255, 255, 255, 0.05);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*abaixo o menu navegação*/
.nav {
  backdrop-filter: blur(10px);
  background-color: rgba(15, 23, 42, 0.8);
  width: 100%;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0px;
  font-weight: bold;
  font-size: 25px;
  z-index: 9;
  border: 2px solid var(--vidro);
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 28px;
  gap: 80px;
}

.nav-list a {
  text-decoration: none;
  color: #ddd;
  position: relative;
  padding: 0.5rem 0;
}

.nav-list a::after {
  content: "";
  height: 2px;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    90deg,
    var(--cor-primaria),
    var(--cor-secundaria)
  );
  transition: 0.3s ease;
}

.nav-list a:hover::after {
  color: white;
  width: 100%;
}

.icons {
  display: flex;
  align-items: center;
  width: 100dvw;
}

.icons ul {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
  list-style: none;
}
.icons ul li img {
  width: 50px;
}

/*conteudo de abertura da pag*/

.main {
  position: relative;
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  padding-left: 10%;
  overflow: hidden;
}

.main h1 {
  color: white;
  font-size: 54px;
}

.main p {
  font-size: 23px;
  font-style: italic;
  color: #1e96fc;
  margin-top: 10px;
  margin-bottom: 35px;
}

.section-nome {
  display: flex;
  width: 600px;
  height: 60px;
  font-weight: bold;
  box-sizing: border-box;
  justify-content: baseline;
}

.section-nome img {
  height: 30px;
  margin-top: 15px;
}

.section-nome p {
  margin-right: 3px;
  padding: 5px;
}

/*abaixo o botão sobre meus projetos*/
.call-to-action {
  cursor: pointer;
  background-color: #fff;
  border: 0;
  padding: 14px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  transition: 0.9s;
}

.call-to-action:hover {
  transform: scale(1.1);
}

.main a {
  text-decoration: none;
  color: #181818;
}

/*abaixo o conteudo falando um pouco sobre mim*/

.secao-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.secao-header div {
  max-width: 100%;
  margin-bottom: -30px;
}

.secao-header h2 {
  margin-bottom: 10px;
  font-size: 32px;
}

.secao-header img {
  max-width: 300px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(79, 70, 229, 0.9);
  background-repeat: no-repeat;
  border: 4px solid var(--vidro);
  animation: pulsar 2s infinite;
  transition: transform 0.5s ease;
  
}

.secao-sobre-texto {
  font-size: 20px;
  text-align: center;
  color: #ddd;
}
.secao-sobre-texto h2 {
  color: var(--cor-secundaria);
  text-align: center;
  margin: 10px;
}

.secao-sobre-texto p {
  font-weight: bold;
}

/*essa section falo sobre mim e formato os textos*/
.sobre {
  margin: 0 auto;
  padding: 6rem 4rem;
  width: 800px;
}

.sobre h2 {
  text-align: center;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 20px;
}

.sobre-mim {
  padding: 2rem;
  border-radius: 16px;
  border: 1px solid var(--vidro);
  backdrop-filter: blur(10px);
  background-color: var(--vidro);
}

/*daqui p baixo é o menu projetos*/
.projetos {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projetos h2 {
  font-size: 32px;
  margin-bottom: 5px;
  margin-top: 20px;
}

.projetos p {
  font-size: 22px;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 10px;
}

.menu-projects {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.menu-projects img {
  width: 22%;
  opacity: 0.8;
  margin: 10px;
  border-radius: 8px;
  transition: 0.9s;
  border: 2px solid var(--cor-primaria);
  background: linear-gradient(
    45deg,
    var(--cor-primaria),
    var(--cor-secundaria),
    cyan
  );
}

.menu-projects img:hover {
  opacity: 1;
  box-shadow: rgba(1, 1, 19, 0.856) 0px 7px 29px 0px;
  transform: scale(1.05) translateY(-5px); 
  cursor: pointer;
}

/*abaixo o rodape*/
footer {
  width: 100%;
  padding: 30px;
  background-color: var(--vidro);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  color: #fff;
  gap: 20px;
  flex-direction: column;
}

footer p {
  font-size: px;
}

.rodape {
  width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

footer img {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 13px;
  border: 1px solid var(--cor-secundaria);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: 0.5s ease;
}

footer img:hover {
  transform: scale(1.1) translateY(-5px);
  background: linear-gradient(
    45deg,
    var(--cor-primaria),
    var(--cor-secundaria),
    cyan
  );
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

footer a {
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.ativo {
  animation: rotacao 2s linear;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

@keyframes pulsar {
  0% {
   transform: scale(1) translateY(0);
   opacity: 1;
  }

  50% {
    transform: scale(1.05) translateY(-5px);
  
    opacity: 0.8;
  }

  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

/* Tablets */
@media (max-width: 900px) and (min-width: 601px) {
  .nav {
    font-size: 18px;
    padding: 1rem 0.5rem;
    gap: 10px;
  }
  .nav-list {
    gap: 30px;
    font-size: 18px;
  }
  body,
  .secao-sobre-texto,
  .sobre-mim,
  .main p,
  .projetos p {
    font-size: 16px;
  }
  .main h1,
  .sobre h2,
  .projetos h2 {
    font-size: 1.7rem;
  }
  .menu-projects {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }
  .menu-projects img {
    width: 30%;
    min-width: 90px;
    max-width: 100%;
    margin: 0 1%;
  }
}

/* Celulares grandes */
@media (max-width: 600px) and (min-width: 401px) {
  .nav {
    font-size: 19px;
    padding: 2rem 0.2rem;
    gap: 6px;
  }
  .nav-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 15px;
    margin-right: 5px;
  }

  .call-to-action{
    font-size: 16px;
    padding: 10px;
  }
  
.secao-header img{
  height: 300px;
}

.main{
    height: 60dvh;
    padding-left: 2%;
    display: flex;
    margin-left: 50px;
  }

  .section-nome {
    max-width: 300px;
    display: flex;
    flex-direction: row;
  }

  .section-nome p {
    font-size: 1.2rem;
    padding-top: 10px;
  }

  .secao-header img {
    max-width: 250px;
    height: 250px;
  }

  .secao-sobre-texto {
    font-size: 18px;
    text-align: center;
    color: #ddd;
}

  body,
  .secao-sobre-texto,
  .sobre-mim,
  .main p,
  .projetos p {
    font-size: 14px;
  }

  .sobre {
    width: 90%;
    padding: 2rem;
  }

  .main h1,
  .sobre h2,
  .projetos h2 {
    font-size: 2.5rem;
  }
  .menu-projects {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
  }
  .menu-projects img {
    width: 120px;
    min-width: 60px;
    max-width: 100%;
    margin: 1% 1%;
  }
}

/* Celulares pequenos */
@media (max-width: 400px) and (min-width: 1px) {
  .nav {
    font-size: 11px;
    padding: 0.5rem 0.1rem;
    gap: 4px;
    max-width: 100%;
  }
  .nav-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 13px;
    margin-right: 5px;
  }
  body,
  .secao-sobre-texto,
  .sobre-mim,
  .projetos p {
    font-size: 12px;
  }

  .section-nome {
    max-width: 300px;
    display: flex;
    flex-direction: row;
  }

  .call-to-action {
    font-size: 15px;
    padding: 17px;
  }

  .section-nome p {
    font-size: 1rem;
    padding-top: 10px;
  }

  .secao-header img {
    max-width: 200px;
    height: 200px;
  }

  .sobre {
    width: 90%;
    padding: 1rem;
    margin-top: 50px;
  }

  .sobre h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 5px;
  }

  .main {
    height: 50dvh;
    padding-left: 2%;
    display: flex;
    margin-left: 50px;
  }

  .main h1,
  .sobre h2,
  .projetos h2 {
    font-size: 1.9rem;
  }

  .menu-projects {
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  .menu-projects img {
    width: 110px;
    min-width: 100px;
    max-width: 100%;
    margin: 1% 0;
  }

  footer {
    padding: 15px;
    gap: 10px;
  }

  footer img{
    width: 40px;
    height: 40px;
  }
}
